body {
  background-color: #F5F7F8;
  height: auto; 
  width: 400px; 
  font-family: Arial, sans-serif;
}

form {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 1em;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

h3 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

fieldset {
  border: none;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 0.5em;
  font-weight: bold;
}

input[type="text"], input[type="number"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 15px;
  font-size: 14px;
}

input[type="checkbox"], input[type="radio"] {
  margin-right: 10px;
}

input[type="submit"], .inspect-button {
  padding: 10px;
  color: #fff;
  background-color: #007BFF;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}

input[type="submit"]:hover, .inspect-button:hover {
  background-color: #45a049;
}

.checkbox-group, .radio-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.checkbox-group label, .radio-group label {
  flex: 1;
  margin-right: 10px;
}

textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 15px;
  font-size: 14px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

button:hover {
  background-color: #45a049;
}

.disease-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.disease-group label {
  display: flex;
  align-items: center;
}

fieldset legend {
  font-weight: bold;
  margin-bottom: 10px;
}

.general-data, .product-data {
  margin-bottom: 20px;
}

